<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/img/logo1.jpg">
    </a>
  </div>

  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="home">HOME</a>
      <a class="navbar-item" routerLink="/phrase">PHRASE</a>
      <a class="navbar-item" routerLink="tution">TUTION</a>
      <a class="navbar-item" routerLink="translate">TRANSLATE</a>
      <a class="navbar-item" routerLink="setting">SETTING</a>
    </div>
  </div>

</nav>
