
.table{
  border-collapse:collapse;
}
hover table thead tr th{
  padding:7px; border:#4e95f4 1px solid;
}
/* Define the default color for all the table rows */
hoverTable thead tr{
  background: #b8d1f3;
}
/* Define the hover highlight color for the table row */
  hoverTable thead tr:hover {
        background-color: #ffff99;
  }

  tr.even{
    background: #b8d1f3;
    color: aliceblue;
  }

  tr.odd{
    background: #4e95f4;
    color: cornsilk;
  }
