<section class="hero">
  <div class="hero-body">
    <div class="container">
      <figure class="image center">
        <img src="assets/img/logo1.jpg" style="max-width:90px;">
      </figure>
    </div>
  </div>
</section>

<section class="cection  has-background-gray">
  <div class="container">
    <div class="columns">

      <a class="column is-narraw" routerLink="/phrase">
        <div class="notification is-info center" style="height: 340px;">
         <p> PHRASE</p>
        </div>
      </a>

      <a class="column is-narraw" routerLink="/tution">
        <div class="notification is-link center" style="height: 340px;">
          <p>TUTION</p>
        </div>
      </a>

      <a class="column is-narraw" routerLink="/translate">
        <div class="notification is-primary center" style="height: 340px;">
          <p>MEMO</p>
        </div>
      </a>
      <a class="column is-narraw" routerLink="/setting">
        <div class="notification is-danger center" style="height: 340px;">
          <p>SETTING</p>
        </div>
      </a>
    </div>
  </div>
</section>
